<a href="https://colab.research.google.com/github/adatta38/PythonLearning/blob/master/PythonLearning1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
age=int(input("Enter your Age: "))
age100=100-age
year100=2019+age100
print("You will turn hundred in the year: ", year100)

Enter your Age: 40
You will turn hundred in the year:  2079

Fibonacci Series

In [21]:
num=int(input("Enter the length of the series: "))
a=0
b=1
series=0
print(a,'\n',b)
for x in range(num):
  series=a+b
  print(series)
  a=b
  b=series

Enter the length of the series: 10
0
 1
1
2
3
5
8
13
21
34
55
89

Some Star Formations:

In [19]:
level=int(input("Enter the depth of star formation: "))
for x in range(level):
  for y in range(x):
    print('*', end='')
  print()

Enter the depth of star formation: 5

*
**
***
****

In [1]:
level=int(input("Enter the number of rows of star formation: "))
spaces=level+1
for x in range(level+1):
  for y in range(spaces,1,-1):
    print(" ", end='')
  spaces-=1
  for z in range(x):
    print('*', end='')
  print()

Enter the number of rows of star formation: 10

        *
       **
      ***
     ****
    *****
   ******
  *******
 ********
*********

In [19]:
#Pyramid

level=int(input("Enter the number of rows of star formation: "))
spaces=level+1
for x in range(level+1):
  for y in range(spaces,1,-1):
    print(" ", end='')
  spaces-=1
  for z in range(2*x-1):
    print('*', end='')
  print()

Enter the number of rows of star formation: 10

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [28]:
# Diamond

level=int(input("Enter the number of rows of star formation: "))
spaces=level+1
for x in range(level+1):
  for y in range(spaces,1,-1):
    print(" ", end='')
  spaces-=1
  for z in range(2*x-1):
    print('*', end='')
  print()
  
for x in range(level-1,0,-1):
  for y in range(spaces+1):
    print(" ", end='')
  spaces+=1
  for z in range(2*x-1):
    print('*',end='')
  print()

Enter the number of rows of star formation: 10

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *