<a href="https://colab.research.google.com/github/adatta38/PythonLearning/blob/master/PythonLearning1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
age=int(input("Enter your Age: "))
age100=100-age
year100=2019+age100
print("You will turn hundred in the year: ", year100)

Enter your Age: 40
You will turn hundred in the year:  2079

Fibonacci Series

In [0]:
num=int(input("Enter the length of the series: "))
a=0
b=1
series=0
# print(a,'\n',b)
print(a)
print(b)
for x in range(num):
  series=a+b
  print(series)
  a=b
  b=series

Enter the length of the series: 10
0
1
1
2
3
5
8
13
21
34
55
89

Some Star Formations:

In [0]:
level=int(input("Enter the depth of star formation: "))
for x in range(level+1):
  for y in range(x):
    print('*', end='')
  print()

Enter the depth of star formation: 5

*
**
***
****
*****

In [0]:
rows=int(input("Enter the number of rows: "))
for x in range(rows+1):
  print('*'*x)

Enter the number of rows: 5

*
**
***
****
*****

In [0]:
level=int(input("Enter the number of rows of star formation: "))
spaces=level+1
for x in range(level+1):
  for y in range(spaces,1,-1):
    print(" ", end='')
  spaces-=1
  for z in range(x):
    print('*', end='')
  print()

Enter the number of rows of star formation: 10

        *
       **
      ***
     ****
    *****
   ******
  *******
 ********
*********

In [0]:
rows=int(input("Enter the number of rows of star formation: "))
spaces=rows+1
for x in range(rows+1):
  print(' '*spaces, end='')
  print('*'*x)
  spaces-=1

Enter the number of rows of star formation: 5

     *
    **
   ***
  ****
 *****

In [0]:
#Pyramid

level=int(input("Enter the number of rows of Pyramid formation: "))
spaces=level+1
for x in range(level+1):
  for y in range(spaces,1,-1):
    print(" ", end='')
  spaces-=1
  for z in range(2*x-1):
    print('*', end='')
  print()

Enter the number of rows of star formation: 10

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [0]:
rows=int(input("Enter the number of rows of Pyramid Formation: "))
spaces=rows+1
for x in range(rows+1):
  print(' '*spaces, end='')
  print('*'*(2*x-1))
  spaces-=1

Enter the number of rows of Star Formation: 5

     *
    ***
   *****
  *******
 *********

In [0]:
# Diamond

level=int(input("Enter the number of rows of Diamond Formation: "))
spaces=level+1
for x in range(level+1):
  for y in range(spaces,1,-1):
    print(" ", end='')
  spaces-=1
  for z in range(2*x-1):
    print('*', end='')
  print()
  
for x in range(level-1,0,-1):
  for y in range(spaces+1):
    print(" ", end='')
  spaces+=1
  for z in range(2*x-1):
    print('*',end='')
  print()

Enter the number of rows of star formation: 10

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [0]:
rows=int(input("Enter the number of rows of the Diamond Formation"))
spaces=rows
for x in range(rows+1):
  print(' '*spaces, end='')
  print('*'*(2*x-1))
  spaces-=1
  
for y in range(rows-1,0,-1):
  print(' '*(spaces+2), end='')
  print('*'*(2*y-1))
  spaces+=1

Enter the number of rows of the Diamond Formation10

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

Placeholders:

In [0]:
for i in range(4):
  for j in range(5):
    print("i={} and j={}".format(i,j))

i=0 and j=0
i=0 and j=1
i=0 and j=2
i=0 and j=3
i=0 and j=4
i=1 and j=0
i=1 and j=1
i=1 and j=2
i=1 and j=3
i=1 and j=4
i=2 and j=0
i=2 and j=1
i=2 and j=2
i=2 and j=3
i=2 and j=4
i=3 and j=0
i=3 and j=1
i=3 and j=2
i=3 and j=3
i=3 and j=4

In [2]:
s = "Abhishek Datta"
i=0
for i in s:
  print(i)

A
b
h
i
s
h
e
k

D
a
t
t
a

In [3]:
s = "Samik Datta"
count=0
for x in s:
  count=count+1
print("The number of characters",count)

The number of characters 11